.table-schedule th,
.table-schedule td {
  border: 3px solid #ddd; /* Định dạng border */
  padding: 24px; /* Định dạng padding */
}
.table-notebook th,
.table-notebook td {
  border: 3px solid #ddd; /* Định dạng border */
  padding: 24px; /* Định dạng padding */
}
.table-schedule th{
  background-color: #3658ef;
  color: white; /* Định dạng background color */
}
.table-notebook th{
  background-color: #3658ef;
  color: white; /* Định dạng background color */
}
.table-notebook{
  min-width: 1100px;
}
.table-schedule{
  min-width: 1100px;
}
.table-schedule,.table-notebook{
  text-align: center;
}